html,
body {
  scroll-behavior: smooth;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background-color: whitesmoke;
}

.nav-bar {
  background-color: #2496ed;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.24);
  min-height: 55px;
}

.nav-bar-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
  padding-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.app-title {
  font-weight: bolder;
  font-size: x-large;
  padding-left: 1rem;
}

.nav-items li a {
  list-style: none;
  text-decoration: none;
  padding: 15px 19px 12px 15px;
}

.nav-items li .active {
  border-bottom: 4px solid #fff;
  font-weight: bold;
}

.nav-items li a {
  color: white;
}

.home {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin: auto;
  text-align: center;
}

.home-container {
  max-width: 1024px;
  min-width: 300px;
  min-height: 500px;
}

.like-home {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin: auto;
  text-align: center;
}

.btn-m {
  height: 30px;
  width: 120px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-width: 0px;
  margin: 3px 3px 3px 3px;
  transition: all 0.2s;
}

.btn-m:hover {
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: perspective(1px) scale(1.01);
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
